<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:p="http://primefaces.org/ui">
    <head th:replace="layout/plantilla :: head">
        <title>Terminos y Condiciones</title>
       
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header"></header>
        <div class="container">
        <div align="center">
        <h2>Terminos y Condiciones</h2>
        <br/>
        </div>
        <div>
        <p>
            Esta página web es propiedad y está operado por <b>Patitas del Sur</b>. 
            Estos Términos establecen los términos y condiciones bajo los cuales tu puedes usar nuestra página web y servicios ofrecidos por nosotros. 
            Esta página web ofrece a los visitantes registrarse para realizar adopciones de mascotas. Al acceder o usar la página web de nuestro servicio, 
            usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos:
            <br/>
            <br/>
            1.- Para usar nuestra página web y / o recibir nuestros servicios, <b> debes tener al menos 18 años de edad </b>, o la mayoría de edad legal en tu jurisdicción, 
            y poseer la autoridad legal, el derecho y la libertad para participar en estos Términos como un acuerdo vinculante. No tienes permitido utilizar esta página web 
            y / o recibir servicios si hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu caso.
            <br/>
            <br/>
            2.-Al adoptar una mascota, aceptas que: (i) eres responsable del cuidado y protección del mismo; (ii) De completar el tratamiento con vacunas en caso de ser necesario; 
            (iii) De recibir visitas o llamadas periódicas de parte de Patitas del Sur para informar sobre el estado de la mascota
            <br/>
            <br/>
            3.- Los cuidados y requerimientos de las mascotas se enumeran en  la página web. 
            <br/>
            <br/>
            4.-Podemos, sin aviso previo, comunicarnos para obtener información de la mascota adoptada; dejar de proporcionar los servicios o cualquier característica de los servicios
            que ofrecemos; o crear límites para los servicios. Podemos revocar la adopción de manera permanente sin previo aviso ni responsabilidad por cualquier motivo que no 
            cumpla con las condiciones del cuidado.
            <br/>
            <br/>
            5.-Podemos terminar o suspender de manera permanente o temporal tu acceso al sitio web sin previo aviso y responsabilidad por cualquier razón, 
            incluso si a nuestra sola determinación tu violas alguna disposición de estos Términos o cualquier ley o regulación aplicable. Puedes descontinuar 
            el uso y solicitar cancelar tu cuenta y / o cualquier servicio en cualquier momento. 

        </p>
        </div>
        
        </div>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
